.favorites {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites h1 {
  margin-bottom: 14px;
}

.favorites span {
  font-size: 18px;
}

.favorites ul {
  width: 720px;
}

.favorites ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.favorites div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faorites div a {
  text-decoration: none;
  color: #116feb;
}
